body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
strong {
  font-weight: 600;
}

body,
.btn,
.navbar,
.form-control,
.card,
.modal {
  font-family: "Nunito Sans", sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title-separator {
  width: 350px;
  margin: 20px auto 40px;
  border-top: 4px solid #0d6efd;
  opacity: 1;
}

/* Mentions legales */

.accordion-active {
  border: 2px solid #0d6efd;
  border-radius: 5px;
}

.accordion-button:focus {
  box-shadow: none;
}

/* tous les titres */

.section-title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  min-width: 120px;
  height: 4px;
  background-color: #0d6efd;
}

/* images */

.about-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* CSS hero */

.hero-section {
  min-height: 70vh;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("/public/assets/img/hero-bg.jpg");
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(240, 240, 240, 0.2);
}

.hero-section > .container {
  position: relative;
  z-index: 1;
}

@media (min-width: 1200px) {
  .hero-section {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
      url("/public/assets/img/hero-bg.jpg"),
      url("/public/assets/img/hero-bg.jpg");

    background-size: contain, cover;
    background-position: center, center;
    background-repeat: no-repeat;
  }
}

/* card portfolio et services */

.compact-card {
  padding: 15px;
}

.project-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  background-color: #efefef;
}
.service-card {
  border-radius: 8px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: 320px;
  margin: 0 auto;

  transition: all 0.3s ease;
}

.service-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  background-color: #efefef;
}

.section-line {
  width: 100px;
  height: 4px;
  background-color: #0d6efd;
  margin-top: 15px;
}

.services-section {
  background-color: #fff;
}

.service-icon {
  font-size: 3rem;
  color: #0d6efd;
}

/* Modal */

.modal-content {
  border-radius: 8px;
}

.modal-body p {
  font-size: 0.95rem;
}

.github-link {
  color: #0d6efd;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color 0.2s ease;
}

.github-link:hover {
  color: #0a58ca;
  text-decoration-thickness: 2px;
}

/* Desktop */
.github-modal .modal-dialog {
  max-width: 700px;
}

/* Tablette */
@media (max-width: 992px) {
  .github-modal .modal-dialog {
    max-width: 600px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .github-modal .modal-dialog {
    max-width: 95%;
    margin: 1rem auto;
  }
}

/* footer */

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.social-icon {
  color: #adb5bd;
  transition: color 0.2s ease;
}

.social-icon:hover {
  color: #ffffff;
}

/* Lien actif */

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 4px;
}
